@media only screen and (min-width: 32.5em) {
    ul {
        flex-direction: row;

    }

    #ham {
        display: none;
    }
    nav ul li a {
        border: none;
    }
    .navigation li:first-child {
		display: none;
    }
    
    .navigation li {
        display: block;
    }
    .navigation {
        display: flex;
        
    }

    #hero{
        background-image: url(/lesson6/images/cit230_medium\ \(1\).jpg);
        
    }
    #town-preston img {
        float: right;
        width:500px;
        margin: 0 0 1em 1em;
        
    }
    
}
