
ul {
    list-style: none;
   }
   
   nav ul li a {
       text-decoration: none;
       padding: 10px;
       border:1px;
     
     
   }
   .flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}


img {
    width:150px ;
    height: 150px ;
}

 main {
     text-align: center;
 }
 nav {
  background-color: lightskyblue;
  padding:2em ;
  
 }
 a {
  color: white;
  font-size: 1.5em ;
 }
  body {
    background-color:bisque;
  }
