ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background-color: #F2B84B;
    padding: 20px;
    text-align: center;
    font-size:  20px;

}


 nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-bottom: solid 1px  #AED1D6;
    text-align: center;
    display: block;
    color: black;
}

header {
    background-color:#052A59;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}


body {
    margin: 0;
    background-color:#80C7F2;
}
h1,
h2 {
    text-align: center;
}

footer {
    text-align: center;
    background-color:#052A59;
    padding:2em ;
    color: white;
}


main {
    background-color:#80C7F2;
    padding: 10px;


}


header img {
    width:100px ;
    height: auto ;

}
header h2 {
    font-size: 1em;
}

.responsive li {
	display: block;
}


