html{
    min-with: 350px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background-color: #F2B84B;
    padding: 20px;
    text-align: center;
    font-size:  20px;
   

}


 nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-bottom: solid 1px  #AED1D6;
    text-align: center;
    display: block;
    color: black;
  
}

header {
    background-color:#052A59;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}


body {
    margin: 0;
    
}
h1,
h2 {
    text-align: center;
   
}

footer {
    text-align: center;
    background-color:#052A59;
    padding:2em ;
    color: white;
    margin: none;
   
}


main {
    background-color: white;
   
    justify-content: center;
  

}


header img {
    width:100px ;
    height: auto ;
    
}
header h2 {
    font-size: 1em;
}



header, h1, h2, footer, nav {
    font-family: 'PT Sans', sans-serif
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.responsive li {
	display: block;
}


iframe {
    margin-top: 1em;
    margin-bottom: 1em;
   
}




.pancakes p {
    text-align: center;
    
}
 h1 {
    font-family: 'Anton', sans-serif;
 }
 
 p {
     font-size: 17px ;
     font-family: 'Roboto', sans-serif;

 }



 a{
    font-family: 'Roboto', sans-serif;
 }

 img[data-src] {
    filter: blur(0.2em);
  }
  
   img {
    filter: blur(0em);
    transition: filter 0.5s;
    max-width: 100%;
 
  }

.pictures {
    display: grid;
    gap:1em;
    grid-template-columns:1fr ;
    text-align: center;
    margin:2em ;
    
}

figcaption{
    font-size: 20px;
    margin: none;
}

label{
    display: inline-block;
    width: 150px;
    padding: 10px 10px 10px 0;
    text-align: right;
  
}

#form-container{
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
   
}

input[type=submit], input[type=reset] {
    margin-top: 15px;
    cursor: pointer;
    padding: 8px 8px;
    background-color: #66D3FA;
    width: 80px;
}

input, select {
    display: inline-block;
    padding: 3px 3px 3px 0;
    margin: 10px;
}

